Repository doobidoo/MCP-Context-Provider: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-context-structure, test-build-process, version-consistency-check

validate-context-structure:
  name: Validate context file structure
  entry: python
  language: system
  args:
  - scripts/validate_contexts.py
  description: Validate context file structure and required fields
  pass_filenames: true

test-build-process:
  name: Test DXT build process
  entry: python
  language: system
  args:
  - scripts/test_build.py
  description: Test that DXT build process works
  pass_filenames: false

version-consistency-check:
  name: Check version consistency
  entry: python
  language: system
  args:
  - scripts/check_versions.py
  description: Ensure version consistency across files
  pass_filenames: false

Update src/engine/context-loader.ts
  src/engine/context-loader.ts
Due: none

Update src/engine/engine.ts
  src/engine/engine.ts
Due: none

fix: align version references to 2.0.0-alpha.1 for CI consistency check
  CHANGELOG.md
  scripts/build_dxt.py
  scripts/check_versions.py
Due: test-build-process, version-consistency-check

feat: mcp-context-provider v2.0.0-alpha.1 (#7)
  .claude/skills/instill.md
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  instincts/example.instincts.yaml
  package-lock.json
  package.json
  scripts/build_dxt.py
  scripts/check_versions.py
  src/__tests__/context-matcher.test.ts
  src/__tests__/context-schema.test.ts
  src/__tests__/instinct-matcher.test.ts
  src/__tests__/instinct-schema.test.ts
  src/__tests__/registry.test.ts
  src/bridge/http-bridge.ts
  src/bridge/sync.ts
  src/bridge/types.ts
  src/cli/formatter.ts
  src/cli/index.ts
  src/cli/registry.ts
  src/engine/context-loader.ts
  src/engine/context-matcher.ts
  src/engine/engine.ts
  src/engine/instinct-loader.ts
  src/engine/instinct-matcher.ts
  src/index.ts
  src/schema/context.schema.ts
  src/schema/instinct.schema.ts
  src/types/context.ts
  src/types/index.ts
  src/types/instinct.ts
  tsconfig.json
  vitest.config.ts
Due: test-build-process, version-consistency-check

docs: rewrite README.md for v2.x TypeScript architecture
  README.md
  package.json
  src/engine/context-loader.ts
Due: version-consistency-check

docs: replace ASCII architecture diagram with Mermaid diagrams
  README.md
Due: none

feat: add MCP server with stdio + HTTP transport
  package-lock.json
  package.json
  src/__tests__/server-tools.test.ts
  src/server/env.ts
  src/server/index.ts
  src/server/tools.ts
Due: version-consistency-check

docs: rewrite GitHub Pages site for v2.x architecture
  docs/architecture.md
  docs/cli.md
  docs/getting-started.md
  docs/index.md
  docs/mcp-tools.md
  mkdocs.yml
Due: none

Deployed 841d1ec with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 6120386 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore: update VERSION file to 2.0.0-alpha.1
  VERSION
Due: none

fix: redirect mermaid CDN from unpkg to jsdelivr via import map
  docs/overrides/main.html
  mkdocs.yml
Due: none

Deployed 5225bfe with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

Deployed f4b6618 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

fix: replace broken import map with mermaid jsdelivr fallback
  docs/overrides/main.html
Due: none

Deployed 5990279 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

Deployed d339ab3 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

fix: detect mermaid blocks by content, not by class
  docs/overrides/main.html
Due: none

Deployed c3b222c with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

Deployed 880b3a2 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

fix: add palette toggle handler for when Material's JS fails
  docs/overrides/main.html
Due: none

Deployed 816f9fe with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

Deployed f220b96 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

chore: bump version to 2.0.0
  CHANGELOG.md
  VERSION
  docs/index.md
  docs/mcp-tools.md
  package-lock.json
  package.json
  scripts/build_dxt.py
  src/server/index.ts
  src/server/tools.ts
Due: test-build-process, version-consistency-check

Deployed 47bfd37 with MkDocs version: 1.6.1
  CHANGELOG/index.html
  index.html
  mcp-tools/index.html
  search/search_index.json
Due: none

Path conditions:
  validate-context-structure: any of: ^contexts/.*\.json$
  test-build-process: any of: ^(context_provider_server\.py|contexts/.*\.json|scripts/build_dxt\.py)$
  version-consistency-check: any of: ^(package\.json|scripts/build_dxt\.py|CHANGELOG\.md)$
