Repository doobidoo/MCP-Context-Provider: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-context-structure, test-build-process, version-consistency-check

.pre-commit-config.yaml:

# Pre-commit hooks for MCP Context Provider
# Install with: pip install pre-commit && pre-commit install

repos:
  # JSON validation for context files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        files: ^contexts/.*\.json$
        description: "Validate JSON syntax in context files"

      - id: pretty-format-json
        files: ^contexts/.*\.json$
        args: [--autofix, --indent, "2"]
        description: "Format JSON files consistently"

      - id: check-yaml
        files: \.(yml|yaml)$
        description: "Validate YAML syntax"

      - id: trailing-whitespace
        description: "Remove trailing whitespace"

      - id: end-of-file-fixer
        description: "Ensure files end with newline"

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        files: \.py$
        description: "Format Python code with black"

  # Custom validation hooks
  - repo: local
    hooks:
      - id: validate-context-structure
        name: Validate context file structure
        entry: python
        language: system
        files: ^contexts/.*\.json$
        args: [scripts/validate_contexts.py]
        description: "Validate context file structure and required fields"
        pass_filenames: true

      - id: test-build-process
        name: Test DXT build process
        entry: python
        language: system
        files: ^(context_provider_server\.py|contexts/.*\.json|scripts/build_dxt\.py)$
        args: [scripts/test_build.py]
        description: "Test that DXT build process works"
        pass_filenames: false

      - id: version-consistency-check
        name: Check version consistency
        entry: python
        language: system
        files: ^(package\.json|scripts/build_dxt\.py|CHANGELOG\.md)$
        args: [scripts/check_versions.py]
        description: "Ensure version consistency across files"
        pass_filenames: false

Initial commit: MCP Context Provider with all contexts
  .gitignore
  README.md
  contexts/applescript_context.json
  contexts/azure_context.json
  contexts/date_awareness_context.json
  contexts/desktop-commander-usage_context.json
  contexts/dokuwiki_context.json
  contexts/general_preferences.json
  contexts/general_preferences_context.json
  contexts/git_context.json
  contexts/ios_shortcuts_context.json
  contexts/memory_context.json
  contexts/n8n_context.json
  contexts/python_mcp_memory_context.json
  contexts/response_shortcodes_context.json
  contexts/shodh_memory_context.json
  contexts/terraform_context.json
  manifest.json
  requirements.txt
  server/context_provider_server.py
Due: validate-context-structure, test-build-process

feat: update and add context files for enhanced tool support
  contexts/anti_ai_voice_context.json
  contexts/azure_cli_operations_context.json
  contexts/backups/azure_context_20251001_084500.json
  contexts/backups/azure_context_20251001_084509.json
  contexts/backups/azure_context_20251010_085620.json
  contexts/backups/azure_context_20251010_085636.json
  contexts/backups/azure_context_20251010_085645.json
  contexts/backups/date_awareness_context_20251121_123906.json
  contexts/backups/date_awareness_context_20251121_125135.json
  contexts/backups/dmi-technical-documentation_context_20251121_125208.json
  contexts/backups/dmi_manageengine_solutions_context_20251017_113327.json
  contexts/backups/dokuwiki_context_20251001_083750.json
  contexts/backups/dokuwiki_context_20251006_155001.json
  contexts/backups/dokuwiki_context_20251121_123840.json
  contexts/backups/dokuwiki_context_20251121_125153.json
  contexts/backups/dokuwiki_context_20251124_082624.json
  contexts/backups/dokuwiki_context_20251216_103004.json
  contexts/backups/dokuwiki_context_20251218_170435.json
  contexts/backups/dokuwiki_context_20251218_171244.json
  contexts/backups/dokuwiki_context_20251218_174027.json
  contexts/backups/outlook_assistant_context_20251007_081549.json
  contexts/daily-summary_context.json
  contexts/dmi-technical-documentation_context.json
  contexts/dmi_manageengine_solutions_context.json
  contexts/outlook_assistant_context.json
  contexts/python_mcp_memory_context.json
  contexts/veritas-kanban_context.json
Due: validate-context-structure, test-build-process

feat: update and add context files for enhanced tool support
  contexts/anti_ai_voice_context.json
  contexts/azure_cli_operations_context.json
  contexts/backups/azure_context_20251001_084500.json
  contexts/backups/azure_context_20251001_084509.json
  contexts/backups/azure_context_20251010_085620.json
  contexts/backups/azure_context_20251010_085636.json
  contexts/backups/azure_context_20251010_085645.json
  contexts/backups/date_awareness_context_20251121_123906.json
  contexts/backups/date_awareness_context_20251121_125135.json
  contexts/backups/dokuwiki_context_20251001_083750.json
  contexts/backups/dokuwiki_context_20251006_155001.json
  contexts/backups/dokuwiki_context_20251121_123840.json
  contexts/backups/dokuwiki_context_20251121_125153.json
  contexts/backups/dokuwiki_context_20251124_082624.json
  contexts/backups/dokuwiki_context_20251216_103004.json
  contexts/backups/dokuwiki_context_20251218_170435.json
  contexts/backups/dokuwiki_context_20251218_171244.json
  contexts/backups/dokuwiki_context_20251218_174027.json
  contexts/backups/manageengine-technical-documentation_context_20251121_125208.json
  contexts/backups/manageengine_solutions_context_20251017_113327.json
  contexts/backups/outlook_assistant_context_20251007_081549.json
  contexts/daily-summary_context.json
  contexts/manageengine-technical-documentation_context.json
  contexts/manageengine_solutions_context.json
  contexts/outlook_assistant_context.json
  contexts/python_mcp_memory_context.json
  contexts/veritas-kanban_context.json
Due: validate-context-structure, test-build-process

feat: add G/I Cycle proactive trigger to general_preferences
  contexts/general_preferences_context.json
Due: validate-context-structure, test-build-process

refactor: clean up context files - remove redundant, merge duplicates, add triggers
  contexts/anti_ai_voice_context.json
  contexts/azure_cli_operations_context.json
  contexts/azure_context.json
  contexts/daily-summary_context.json
  contexts/desktop-commander-usage_context.json
  contexts/general_preferences.json
  contexts/general_preferences_context.json
  contexts/manageengine-technical-documentation_context.json
  contexts/manageengine_solutions_context.json
  contexts/n8n_context.json
  contexts/outlook_assistant_context.json
  contexts/python_mcp_memory_context.json
  contexts/response_shortcodes_context.json
Due: validate-context-structure, test-build-process

refactor: clean up context files - remove redundant, merge duplicates, add triggers
  contexts/anti_ai_voice_context.json
  contexts/azure_cli_operations_context.json
  contexts/azure_context.json
  contexts/daily-summary_context.json
  contexts/desktop-commander-usage_context.json
  contexts/dmi-technical-documentation_context.json
  contexts/dmi_manageengine_solutions_context.json
  contexts/general_preferences.json
  contexts/general_preferences_context.json
  contexts/n8n_context.json
  contexts/outlook_assistant_context.json
  contexts/python_mcp_memory_context.json
  contexts/response_shortcodes_context.json
Due: validate-context-structure, test-build-process

docs: add MkDocs Material documentation site
  .github/workflows/docs.yml
  .gitignore
  docs/CHANGELOG.md
  docs/guides/INSTALLATION.md
  docs/index.md
  mkdocs.yml
Due: none

docs: add SVG logo for MkDocs site
  assets/logo.svg
  docs/index.md
  mkdocs.yml
Due: none

Deployed 87e4b40 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
Due: none

fix: move logo into docs/assets for MkDocs
  docs/assets/logo.svg
Due: none

Deployed 0050167 with MkDocs version: 1.6.1
  assets/logo.svg
Due: none

docs: add comprehensive Contexts Reference page
  docs/contexts-reference.md
  mkdocs.yml
Due: none

Deployed bddc2a9 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  contexts-reference/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: transparent background SVG logo for header/favicon/homepage
  docs/index.md
Due: none

Deployed b2fe342 with MkDocs version: 1.6.1
  index.html
Due: none

fix: replace corrupt SVG with valid logo file
  assets/logo.svg
  docs/assets/logo.svg
Due: none

Deployed 238e519 with MkDocs version: 1.6.1
  assets/logo.svg
Due: none

feat: add mkdocs context with pitfalls and setup patterns
  contexts/mkdocs_context.json
Due: validate-context-structure, test-build-process

security: remove secrets and private data from context files
  .gitignore
  contexts/backups/azure_context_20251001_084500.json
  contexts/backups/azure_context_20251001_084509.json
  contexts/backups/azure_context_20251010_085620.json
  contexts/backups/azure_context_20251010_085636.json
  contexts/backups/azure_context_20251010_085645.json
  contexts/backups/date_awareness_context_20251121_123906.json
  contexts/backups/date_awareness_context_20251121_125135.json
  contexts/backups/dmi-technical-documentation_context_20251121_125208.json
  contexts/backups/dmi_manageengine_solutions_context_20251017_113327.json
  contexts/backups/dokuwiki_context_20251001_083750.json
  contexts/backups/dokuwiki_context_20251006_155001.json
  contexts/backups/dokuwiki_context_20251121_123840.json
  contexts/backups/dokuwiki_context_20251121_125153.json
  contexts/backups/dokuwiki_context_20251124_082624.json
  contexts/backups/dokuwiki_context_20251216_103004.json
  contexts/backups/dokuwiki_context_20251218_170435.json
  contexts/backups/dokuwiki_context_20251218_171244.json
  contexts/backups/dokuwiki_context_20251218_174027.json
  contexts/backups/outlook_assistant_context_20251007_081549.json
  contexts/dokuwiki_context.json
  contexts/n8n_context.json
  contexts/veritas-kanban_context.json
Due: validate-context-structure, test-build-process

security: remove secrets and private data from context files
  .gitignore
  contexts/backups/azure_context_20251001_084500.json
  contexts/backups/azure_context_20251001_084509.json
  contexts/backups/azure_context_20251010_085620.json
  contexts/backups/azure_context_20251010_085636.json
  contexts/backups/azure_context_20251010_085645.json
  contexts/backups/date_awareness_context_20251121_123906.json
  contexts/backups/date_awareness_context_20251121_125135.json
  contexts/backups/dokuwiki_context_20251001_083750.json
  contexts/backups/dokuwiki_context_20251006_155001.json
  contexts/backups/dokuwiki_context_20251121_123840.json
  contexts/backups/dokuwiki_context_20251121_125153.json
  contexts/backups/dokuwiki_context_20251124_082624.json
  contexts/backups/dokuwiki_context_20251216_103004.json
  contexts/backups/dokuwiki_context_20251218_170435.json
  contexts/backups/dokuwiki_context_20251218_171244.json
  contexts/backups/dokuwiki_context_20251218_174027.json
  contexts/backups/manageengine-technical-documentation_context_20251121_125208.json
  contexts/backups/manageengine_solutions_context_20251017_113327.json
  contexts/backups/outlook_assistant_context_20251007_081549.json
  contexts/dokuwiki_context.json
  contexts/n8n_context.json
  contexts/veritas-kanban_context.json
Due: validate-context-structure, test-build-process

security: add 3-layer secret detection system
  .github/workflows/ci.yml
  .gitignore
  .gitleaks.toml
  .pre-commit-config.yaml
Due: none

fix: correct context file schemas and pre-commit python executable
  .pre-commit-config.yaml
  contexts/ios_shortcuts_context.json
  contexts/outlook_assistant_context.json
  contexts/response_shortcodes_context.json
Due: validate-context-structure, test-build-process

fix: align build script version to 1.8.4
  scripts/build_dxt.py
Due: test-build-process, version-consistency-check

fix: black formatting and drop EOL Python versions from CI matrix
  .github/workflows/ci.yml
  context_provider_server.py
Due: test-build-process

feat: mcp-context-provider v2.0.0-alpha.1 — Instinct & Context Engine
  .claude/skills/instill.md
  .gitignore
  CLAUDE.md
  instincts/example.instincts.yaml
  package-lock.json
  package.json
  src/__tests__/context-matcher.test.ts
  src/__tests__/context-schema.test.ts
  src/__tests__/instinct-matcher.test.ts
  src/__tests__/instinct-schema.test.ts
  src/__tests__/registry.test.ts
  src/bridge/http-bridge.ts
  src/bridge/sync.ts
  src/bridge/types.ts
  src/cli/formatter.ts
  src/cli/index.ts
  src/cli/registry.ts
  src/engine/context-loader.ts
  src/engine/context-matcher.ts
  src/engine/engine.ts
  src/engine/instinct-loader.ts
  src/engine/instinct-matcher.ts
  src/index.ts
  src/schema/context.schema.ts
  src/schema/instinct.schema.ts
  src/types/context.ts
  src/types/index.ts
  src/types/instinct.ts
  tsconfig.json
  vitest.config.ts
Due: version-consistency-check
