Repository doobidoo/MCP-Context-Provider: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-context-structure, test-build-process, version-consistency-check

validate-context-structure:
  name: Validate context file structure
  entry: python
  language: system
  args:
  - scripts/validate_contexts.py
  description: Validate context file structure and required fields
  pass_filenames: true

test-build-process:
  name: Test DXT build process
  entry: python
  language: system
  args:
  - scripts/test_build.py
  description: Test that DXT build process works
  pass_filenames: false

version-consistency-check:
  name: Check version consistency
  entry: python
  language: system
  args:
  - scripts/check_versions.py
  description: Ensure version consistency across files
  pass_filenames: false

Deployed b9289f9 with MkDocs version: 1.6.1
  CHANGELOG/index.html
  index.html
  mcp-tools/index.html
  search/search_index.json
Due: none

Deployed 904e99f with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  getting-started/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 5e30eda with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

Deployed c2b9545 with MkDocs version: 1.6.1
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  contexts-reference/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  phase3/phase3_session_memory.json
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: repair context-loader.ts syntax and migrate 9 context files to V2 schema
  .gitignore
  contexts/anti_ai_voice_context.json
  contexts/date_awareness_context.json
  contexts/ios_shortcuts_context.json
  contexts/mkdocs_context.json
  contexts/n8n_context.json
  contexts/outlook_assistant_context.json
  contexts/python_mcp_memory_context.json
  contexts/response_shortcodes_context.json
  contexts/veritas-kanban_context.json
  src/engine/context-loader.ts
Due: validate-context-structure, test-build-process

feat: add Node.js MCP server with stdio + HTTP transport, update docs
  .claude/skills/instill.md
  .mcp.json
  CLAUDE.md
  docs/guides/INSTALLATION.md
  docs/index.md
  mkdocs.yml
  package-lock.json
  package.json
  src/server/index.ts
Due: version-consistency-check

Deployed 3dff7d6 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  architecture/index.html
  cli/index.html
  contexts-reference/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  mcp-tools/index.html
  overrides/main.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  phase3/phase3_session_memory.json
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

release: v2.0.0-alpha.2 — MCP server, schema fixes, docs
  CHANGELOG.md
  VERSION
  package.json
  src/server/index.ts
Due: version-consistency-check

docs: document /instill skill and recommend global installation
  docs/guides/INSTALLATION.md
  docs/index.md
Due: none

Deployed 299361b with MkDocs version: 1.6.1
  CHANGELOG/index.html
  guides/INSTALLATION/index.html
  index.html
  search/search_index.json
Due: none

fix(instill): replace hardcoded paths and fix YAML wrapper requirement
  .claude/skills/instill.md
Due: none

fix(instill): replace hardcoded paths and fix YAML wrapper requirement (#8)
  .claude/skills/instill.md
Due: none

release: v2.0.0-alpha.3 — fix /instill skill, rewrite README for v2
  CHANGELOG.md
  README.md
  VERSION
  package.json
Due: version-consistency-check

Refactor README for image link and HTML cleanup
  README.md
Due: none

Replace old asset link with new one in README
  README.md
Due: none

chore: remove sensitive env data from tracked files
  .gitignore
  .mcp.json
  contexts/n8n_context.json
  instincts/learned.instincts.yaml
Due: validate-context-structure, test-build-process

chore: remove all v1.x CI/scripts/artifacts, rewrite CI for v2.x
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  AUTOMATION.md
  BUILD.md
  context_provider_server.py
  manifest.json
  requirements.txt
  scripts/build_dxt.py
  scripts/bump_version.py
  scripts/check_versions.py
  scripts/install.bat
  scripts/install.sh
  scripts/test_build.py
  scripts/test_workflows.py
  scripts/validate_contexts.py
  scripts/verify_install.py
  server/context_provider_server.py
  tests/test_memory_integration.py
Due: test-build-process, version-consistency-check

release: v2.0.0-alpha.4 — add development processes, release workflow, changelog archival
  .claude/agents/changelog-archival.md
  .claude/agents/github-release-manager.md
  .claude/directives/README.md
  .claude/directives/version-management.md
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  VERSION
  docs/archive/CHANGELOG-v1.md
  package.json
Due: version-consistency-check

Deployed a518bcc with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  archive/CHANGELOG-v1/index.html
  contexts-reference/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: add FAQ section, gitignore learned instincts for security
  .gitignore
  README.md
  instincts/learned.instincts.yaml
Due: none

update: expand memory_context.json with German triggers and explicit save patterns
  contexts/memory_context.json
Due: validate-context-structure, test-build-process

Path conditions:
  validate-context-structure: any of: ^contexts/.*\.json$
  test-build-process: any of: ^(context_provider_server\.py|contexts/.*\.json|scripts/build_dxt\.py)$
  version-consistency-check: any of: ^(package\.json|scripts/build_dxt\.py|CHANGELOG\.md)$
