Repository doobidoo/MCP-Context-Provider: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-context-structure, test-build-process, version-consistency-check

validate-context-structure:
  name: Validate context file structure
  entry: python
  language: system
  args:
  - scripts/validate_contexts.py
  description: Validate context file structure and required fields
  pass_filenames: true

test-build-process:
  name: Test DXT build process
  entry: python
  language: system
  args:
  - scripts/test_build.py
  description: Test that DXT build process works
  pass_filenames: false

version-consistency-check:
  name: Check version consistency
  entry: python
  language: system
  args:
  - scripts/check_versions.py
  description: Ensure version consistency across files
  pass_filenames: false

fix(cli): surface YAML parse errors instead of silently skipping files (closes #12)
  src/cli/formatter.ts
  src/cli/index.ts
  src/cli/registry.ts
Due: none

test(registry): update listAll tests for new { entries, skipped } return type
  src/__tests__/registry.test.ts
Due: none

fix: address code review findings from PRs #13 & #15, close issue #12 (#16)
  contexts/anti_ai_voice_context.json
  src/__tests__/registry.test.ts
  src/cli/formatter.ts
  src/cli/index.ts
  src/cli/registry.ts
  src/server/index.ts
Due: validate-context-structure, test-build-process

release: v2.0.0-alpha.10 — fix review findings (#13/#15), close issue #12, add --strict flag
  CHANGELOG.md
  VERSION
  package.json
Due: version-consistency-check

fix(skill): resolve instincts dir with global fallback + fix frontmatter
  .claude/skills/instill.md
Due: none

docs: prep for beta phase — fix tool count, add status, phase pointer
  .claude/directives/version-management.md
  CLAUDE.md
  README.md
Due: none

release: v2.0.0-beta.1 — phase transition alpha → beta
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: version-consistency-check

security: remove customer/company-specific data from public contexts
  contexts/manageengine_solutions_context.json
  contexts/memory_context.json
Due: validate-context-structure, test-build-process

Deployed 5d73b95 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  archive/CHANGELOG-v1/index.html
  contexts-reference/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

migrate: GitHub → Codeberg (remote, CI, URLs, docs, instincts)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude/agents/codeberg-release-manager.md
  .claude/directives/version-management.md
  .woodpecker.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  contexts/general_preferences_context.json
  contexts/git_context.json
  docs/WORKFLOW_TROUBLESHOOTING.md
  docs/contexts-reference.md
  docs/guides/DEVELOPER_GUIDE.md
  docs/guides/INSTALLATION.md
  docs/guides/QUICKSTART.md
  docs/guides/TROUBLESHOOTING.md
  docs/index.md
  mkdocs.yml
  package.json
Due: validate-context-structure, test-build-process, version-consistency-check

test: guard instinct YAML validity in CI
  src/__tests__/instinct-files-valid.test.ts
Due: none

feat(server): add sync_instincts MCP tool
  src/server/index.ts
Due: none

fix: resolve instincts store independently of the launch directory
  .claude/skills/instill.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  src/__tests__/instinct-loader.test.ts
  src/__tests__/paths.test.ts
  src/__tests__/registry-import.test.ts
  src/cli/index.ts
  src/cli/registry.ts
  src/config/paths.ts
  src/engine/instinct-loader.ts
  src/server/index.ts
Due: version-consistency-check

release: v2.0.0-beta.2 — CLI import/path commands, store path resolution fix
  CHANGELOG.md
  CLAUDE.md
  VERSION
  package-lock.json
  package.json
Due: version-consistency-check

Deployed 761b332 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  archive/CHANGELOG-v1/index.html
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.d7400e89.min.js
  assets/javascripts/bundle.d7400e89.min.js.map
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.ec1eaa64.min.css
  assets/stylesheets/main.ec1eaa64.min.css.map
  contexts-reference/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

ci: run Woodpecker on tags and drop the dead release step
  .claude/agents/codeberg-release-manager.md
  .woodpecker.yml
  CHANGELOG.md
  CLAUDE.md
Due: version-consistency-check

fix: align license metadata with the LICENSE file
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CHANGELOG.md
  README.md
  docs/index.md
  mkdocs.yml
  package.json
Due: version-consistency-check

Deployed 71a4bb7 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  EXAMPLES/index.html
  WORKFLOW_TROUBLESHOOTING/index.html
  archive/CHANGELOG-v1/index.html
  contexts-reference/index.html
  guides/CONTEXT_GUIDE/index.html
  guides/DEVELOPER_GUIDE/index.html
  guides/INSTALLATION/index.html
  guides/QUICKSTART/index.html
  guides/TROUBLESHOOTING/index.html
  index.html
  phase3/API_REFERENCE/index.html
  phase3/EXAMPLES/index.html
  phase3/LEARNING_GUIDE/index.html
  phase3/SESSION_SUMMARY/index.html
  search/search_index.json
Due: none

ci: allow manual pipeline runs
  .woodpecker.yml
  CHANGELOG.md
Due: version-consistency-check

ci: fix YAML mapping bug that broke every pipeline run
  .woodpecker.yml
  CHANGELOG.md
Due: version-consistency-check

fix: never replace an unreadable store with an empty one
  CHANGELOG.md
  src/__tests__/store-durability.test.ts
  src/engine/instinct-loader.ts
  src/server/index.ts
Due: version-consistency-check

feat: read instincts from exactly one store file
  CHANGELOG.md
  src/__tests__/registry-import.test.ts
  src/__tests__/registry.test.ts
  src/__tests__/single-source.test.ts
  src/cli/index.ts
  src/cli/registry.ts
  src/config/paths.ts
  src/engine/engine.ts
  src/server/index.ts
Due: version-consistency-check

docs: describe the single instinct store file
  .claude/skills/instill.md
  CLAUDE.md
  README.md
Due: none

test: make the unreadable-store test uid-independent
  CHANGELOG.md
  src/__tests__/store-durability.test.ts
Due: version-consistency-check

release: v2.0.0-beta.3 — single instinct store, no silent store wipe, CI fixes
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: version-consistency-check

Path conditions:
  validate-context-structure: any of: ^contexts/.*\.json$
  test-build-process: any of: ^(context_provider_server\.py|contexts/.*\.json|scripts/build_dxt\.py)$
  version-consistency-check: any of: ^(package\.json|scripts/build_dxt\.py|CHANGELOG\.md)$
