Repository doobidoo/MCP-Context-Provider: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-context-structure, test-build-process, version-consistency-check

.pre-commit-config.yaml:

# Pre-commit hooks for MCP Context Provider
# Install with: pip install pre-commit && pre-commit install

repos:
  # JSON validation for context files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        files: ^contexts/.*\.json$
        description: "Validate JSON syntax in context files"

      - id: pretty-format-json
        files: ^contexts/.*\.json$
        args: [--autofix, --indent, "2"]
        description: "Format JSON files consistently"

      - id: check-yaml
        files: \.(yml|yaml)$
        description: "Validate YAML syntax"

      - id: trailing-whitespace
        description: "Remove trailing whitespace"

      - id: end-of-file-fixer
        description: "Ensure files end with newline"

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        files: \.py$
        description: "Format Python code with black"

  # Custom validation hooks
  - repo: local
    hooks:
      - id: validate-context-structure
        name: Validate context file structure
        entry: python
        language: system
        files: ^contexts/.*\.json$
        args: [scripts/validate_contexts.py]
        description: "Validate context file structure and required fields"
        pass_filenames: true

      - id: test-build-process
        name: Test DXT build process
        entry: python
        language: system
        files: ^(context_provider_server\.py|contexts/.*\.json|scripts/build_dxt\.py)$
        args: [scripts/test_build.py]
        description: "Test that DXT build process works"
        pass_filenames: false

      - id: version-consistency-check
        name: Check version consistency
        entry: python
        language: system
        files: ^(package\.json|scripts/build_dxt\.py|CHANGELOG\.md)$
        args: [scripts/check_versions.py]
        description: "Ensure version consistency across files"
        pass_filenames: false

fix: add missing test_build.py script and update gitignore
  .gitignore
  scripts/test_build.py
Due: none

fix: correct DXT package naming in build script
  scripts/build_dxt.py
Due: test-build-process, version-consistency-check

feat: comprehensive GitHub Actions workflow reliability improvements
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/WORKFLOW_TROUBLESHOOTING.md
  scripts/test_workflows.py
Due: none

fix: format Python code with Black to resolve CI failures
  context_provider_server.py
  scripts/build_dxt.py
  scripts/bump_version.py
  scripts/check_versions.py
  scripts/test_build.py
  scripts/test_workflows.py
  scripts/validate_contexts.py
  scripts/verify_install.py
  tests/test_memory_integration.py
Due: test-build-process, version-consistency-check

fix: replace Unicode emojis with ASCII in validate_contexts.py
  scripts/validate_contexts.py
Due: none

fix: add cross-platform glob pattern support to validation script
  scripts/validate_contexts.py
Due: none

fix: apply Black formatting to validation script
  scripts/validate_contexts.py
Due: none

fix: correct Python boolean syntax error in tool schema
  context_provider_server.py
Due: test-build-process

chore: bump version to 1.8.1
  CHANGELOG.md
  package.json
  scripts/build_dxt.py
  scripts/install.sh
Due: test-build-process, version-consistency-check

feat: add Phase 3 intelligent learning context enhancements
  contexts/applescript_context.json
  contexts/azure_context.json
  contexts/date_awareness_context.json
  contexts/dokuwiki_context.json
  contexts/general_preferences_context.json
  contexts/git_context.json
  contexts/terraform_context.json
Due: validate-context-structure, test-build-process

chore: bump version to 1.8.2 with enhanced context changelog
  CHANGELOG.md
  package.json
  scripts/build_dxt.py
  scripts/install.sh
Due: test-build-process, version-consistency-check

release: prepare v1.8.3 - fix duplicate context file removal
  CHANGELOG.md
  VERSION
  contexts/general_preferences.json
  package.json
Due: validate-context-structure, test-build-process, version-consistency-check

fix: resolve KeyError in session learning phase (v1.8.3)
  CHANGELOG.md
  VERSION
  context_provider_server.py
  package.json
Due: test-build-process, version-consistency-check

fix: add missing 'items' property to array schema parameters
  context_provider_server.py
  tests/test_tool_schema_validation.py
Due: test-build-process
