Repository doobidoo/MCP-Context-Provider: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-context-structure, test-build-process, version-consistency-check

.pre-commit-config.yaml:

# Pre-commit hooks for MCP Context Provider
# Install with: pip install pre-commit && pre-commit install

repos:
  # JSON validation for context files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        files: ^contexts/.*\.json$
        description: "Validate JSON syntax in context files"

      - id: pretty-format-json
        files: ^contexts/.*\.json$
        args: [--autofix, --indent, "2"]
        description: "Format JSON files consistently"

      - id: check-yaml
        files: \.(yml|yaml)$
        description: "Validate YAML syntax"

      - id: trailing-whitespace
        description: "Remove trailing whitespace"

      - id: end-of-file-fixer
        description: "Ensure files end with newline"

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        files: \.py$
        description: "Format Python code with black"

  # Custom validation hooks
  - repo: local
    hooks:
      - id: validate-context-structure
        name: Validate context file structure
        entry: python
        language: system
        files: ^contexts/.*\.json$
        args: [scripts/validate_contexts.py]
        description: "Validate context file structure and required fields"
        pass_filenames: true

      - id: test-build-process
        name: Test DXT build process
        entry: python
        language: system
        files: ^(context_provider_server\.py|contexts/.*\.json|scripts/build_dxt\.py)$
        args: [scripts/test_build.py]
        description: "Test that DXT build process works"
        pass_filenames: false

      - id: version-consistency-check
        name: Check version consistency
        entry: python
        language: system
        files: ^(package\.json|scripts/build_dxt\.py|CHANGELOG\.md)$
        args: [scripts/check_versions.py]
        description: "Ensure version consistency across files"
        pass_filenames: false

feat: add Claude Code plugin marketplace manifest + new instincts
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  package-lock.json
Due: none

feat: add instill auto-trigger hook + fix skill installation path
  CHANGELOG.md
  README.md
  hooks/instill-trigger.js
  package.json
Due: version-consistency-check

docs: add absolute path requirement for Claude Code MCP config
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: version-consistency-check

fix: update @modelcontextprotocol/sdk to 1.28.0 for protocol version 2025-11-25
  package-lock.json
  package.json
Due: version-consistency-check

chore: update dokuwiki literal_text rules, bridge port, mcp config
  .mcp.json
  contexts/dokuwiki_context.json
  src/bridge/types.ts
Due: validate-context-structure, test-build-process

release: v2.0.0-alpha.6 — fix MCP SDK crash with Claude.ai protocol version
  CHANGELOG.md
  VERSION
  package.json
Due: version-consistency-check

feat: add instinct write tools to MCP server (store, approve, reject, outcome)
  src/server/index.ts
Due: none

release: v2.0.0-alpha.7 — add instinct write tools to MCP server
  CHANGELOG.md
  VERSION
  package.json
Due: version-consistency-check

docs: add Fronteir AI hosted deployment option
  README.md
Due: none

fix: auto-repair legacy instinct YAML files (#10)
  src/__tests__/instinct-loader.test.ts
  src/engine/engine.ts
  src/engine/instinct-loader.ts
  src/server/index.ts
Due: none

fix: auto-repair legacy instinct YAML files (#10) (#11)
  src/__tests__/instinct-loader.test.ts
  src/engine/engine.ts
  src/engine/instinct-loader.ts
  src/server/index.ts
Due: none

release: v2.0.0-alpha.8 — auto-repair legacy instinct YAML files (#10)
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: version-consistency-check

fix(skill): route /instill through store_instinct MCP tool (#10)
  .claude/skills/instill.md
Due: none

fix(context): memory_context priority 'critical' → 'high' to match Zod enum
  contexts/memory_context.json
Due: validate-context-structure, test-build-process

chore(gitignore): exclude linkedin_context + .bak-* timestamped backups
  .gitignore
Due: none

release: v2.0.0-alpha.9 — skill routing + schema fixes
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: version-consistency-check

feat(server): add pagination and filters to list_instincts
  contexts/memory_context.json
  src/server/index.ts
Due: validate-context-structure, test-build-process

feat(server): add pagination and filters to list_instincts (#13)
  src/server/index.ts
Due: none

feat(anti_ai_voice): v2.0 structural patterns + German support
  contexts/anti_ai_voice_context.json
Due: validate-context-structure, test-build-process

feat(anti_ai_voice): v2.0 structural patterns + German support (#15)
  contexts/anti_ai_voice_context.json
Due: validate-context-structure, test-build-process

fix: address code review findings from PRs #13 and #15
  contexts/anti_ai_voice_context.json
  src/server/index.ts
Due: validate-context-structure, test-build-process
